{
    auto_https off
    debug
}

http://sehn.dev {
    root * /usr/share/caddy
    file_server
}

http://www.sehn.dev {
    redir https://sehn.dev{uri} permanent
}

http://sehn.tech {
    redir https://sehn.dev{uri} permanent
}

http://www.sehn.tech {
    redir https://sehn.dev{uri} permanent
}
